/* FONT */
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamPro-Bold.ttf') format('truetype');
    /* Legacy iOS */
    font-weight: 700;
    font-style: normal;
}

/*
################
               THITO'S TEMPLATE 
################
*/

:root {
    --color-background: #f6f6f6;
    --color-white: #ffffff;

    --color-info: #7d8da1;
    --color-text: #1b0909;
    --color-text-muted: #575757;
    --color-light: #848bc82e;
    --color-danger: #ff0060;

    --color-green: #1b9c85;
    --color-dark-green: #04756a;
    --color-blue: #6c9bcf;

    --card-padding: 1.8rem;
    --sm-card-padding: 0.3em;
    --padding-section: 6rem;

    --card-border-radius: 2rem;

    --box-shadow: var(--color-light) 0px 8px 24px;
    --btn-box-shadow: var(--color-light) 0px 5px 15px;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    overflow-x: hidden;
}

input,
textarea {
    font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}


/*
################
               BUTTON 
################
*/

.btn-group {
    display: flex;
    margin-top: 0.6rem;
    gap: 1rem;
}

.btn-group>* {
    flex: 1 1 auto;
}

.btn {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 0.2rem;
    padding: 0.2rem 1rem;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
    outline: 0;
}

button.btn {
    border: 0;
    font-size: 1rem;
    padding: 0.6rem 1rem;
}

.btn::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: var(--box-shadow);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.btn:hover:after {
    opacity: 0;
}

.btn.btn-add {
    background-color: var(--color-green);
    color: var(--color-white);
}

.btn.btn-add:hover {
    background-color: var(--color-white);
    color: var(--color-green);
}

.btn.btn-secondary,
.btn.btn-danger {
    background-color: var(--color-white);
}

.btn.btn-secondary {
    color: var(--color-dark-green);
}

.btn.btn-danger {
    color: var(--color-danger);
}

.btn.btn-secondary::after,
.btn.btn-danger::after {
    opacity: 0;
}

.btn.btn-secondary:hover:after,
.btn.btn-danger:hover:after {
    opacity: 1;
}

.btn.btn-secondary:hover,
.btn.btn-danger:hover {
    color: var(--color-white);
}

.btn.btn-secondary:hover {
    background-color: var(--color-dark-green);
}

.btn.btn-danger:hover {
    background-color: var(--color-danger);
}

/*
################
               MAIN 
################
*/

main {
    display: grid;
    grid-template-columns: 12rem auto;
    margin-top: 0.2rem;
    padding-inline: 2.5rem;
    gap: 2rem;
}